In [12]:
import pandas as pd 
from mlxtend.frequent_patterns import apriori, association_rules 
from mlxtend.preprocessing import TransactionEncoder

## Ejercicio 1: Análisis Básico de Canasta de Compra
Contexto: Eres analista en MiniMarket ABC. Tienes datos de 8 transacciones
Tareas:
1. Preprocesa los datos con TransactionEncoder.
2. Encuentra itemsets frecuentes con min_support=0.4.
3. Genera reglas con min_confidence=0.6 y filtra por lift > 1.

Pregunta clave:
¿Qué producto está más asociado a "Pan"? Usa el lift como criterio.

In [13]:
transacciones = [
['Pan', 'Leche'],
['Pan', 'Pañales', 'Cerveza'],
['Leche', 'Pañales'],
['Pan', 'Leche', 'Pañales', 'Huevos'],
['Huevos', 'Leche'],
['Pan', 'Huevos'],
['Pañales', 'Cerveza'],
['Pan', 'Leche', 'Huevos']
]

print("Data set original: ")
for i, t in enumerate(transacciones,1):
    print(f"Transacción {i}: {t}")

Data set original:
Transacción 1: ['Pan', 'Leche']
Transacción 2: ['Pan', 'Pañales', 'Cerveza']
Transacción 3: ['Leche', 'Pañales']
Transacción 4: ['Pan', 'Leche', 'Pañales', 'Huevos']
Transacción 5: ['Huevos', 'Leche']
Transacción 6: ['Pan', 'Huevos']
Transacción 7: ['Pañales', 'Cerveza']
Transacción 8: ['Pan', 'Leche', 'Huevos']

In [14]:
te= TransactionEncoder()
te_ary= te.fit(transacciones).transform(transacciones)

df=pd.DataFrame(te_ary,columns=te.columns_)

df

   Cerveza  Huevos  Leche    Pan  Pañales
0    False   False   True   True    False
1     True   False  False   True     True
2    False   False   True  False     True
3    False    True   True   True     True
4    False    True   True  False    False
5    False    True  False   True    False
6     True   False  False  False     True
7    False    True   True   True    False

In [48]:
frequent_itemsets = apriori(df,min_support=0.2, use_colnames=True)

print("\n Itemsets Frecuentes soporte > 40%")
print(frequent_itemsets.sort_values("support",ascending=False))

 Itemsets Frecuentes soporte > 40%
    support               itemsets
1  0.571429           (Analgésico)
3  0.571429               (Jarabe)
0  0.428571              (Alcohol)
2  0.428571              (Curitas)
4  0.428571           (Termómetro)
5  0.285714  (Alcohol, Analgésico)
6  0.285714   (Jarabe, Analgésico)
7  0.285714      (Jarabe, Curitas)

In [52]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)

# Paso 3: Filtrar reglas con lift > 1
rules_filtered = rules[rules['lift'] > 1]

# Ver resultados
print(rules_filtered[['antecedents','consequents','support','confidence','lift']])

  antecedents   consequents   support  confidence      lift
0   (Alcohol)  (Analgésico)  0.285714    0.666667  1.166667
1   (Curitas)      (Jarabe)  0.285714    0.666667  1.166667

In [53]:
rules = association_rules(frequent_itemsets,metric = "confidence",min_threshold=0.6)

rules = rules[rules['lift'] > 1]

print("\n Reglas de Asociacion (confianza > 60% y lift >1)\n", rules[['antecedents','consequents','support','confidence','lift']].sort_values('lift',ascending=False))

 Reglas de Asociacion (confianza > 60% y lift >1)
   antecedents   consequents   support  confidence      lift
0   (Alcohol)  (Analgésico)  0.285714    0.666667  1.166667
1   (Curitas)      (Jarabe)  0.285714    0.666667  1.166667

## Ejercicio 2: Optimización de Inventario
Contexto: En Farmacia Saludable, quieren reducir desperdicios analizando compras conjuntas:
Tareas:
1. Aplica Apriori con min_support=0.3.
2. Genera reglas con min_confidence=0.5.

Preguntas clave: 
Si un cliente compra Jarabe, ¿qué otro producto tiene mayor probabilidad de comprar?
¿Qué par de productos debería colocarse juntos en el estante? Justifica con lift.

In [24]:
tra1 = [
    ['Analgésico', 'Jarabe', 'Curitas'],
    ['Termómetro', 'Jarabe'],
    ['Analgésico', 'Termómetro', 'Alcohol'],
    ['Jarabe', 'Alcohol', 'Curitas'],
    ['Analgésico', 'Jarabe'],
    ['Termómetro', 'Curitas'],
    ['Analgésico', 'Alcohol']
]

for i, t in enumerate(tra1,1):
    print(f"Transacción {i}: {t}")

Transacción 1: ['Analgésico', 'Jarabe', 'Curitas']
Transacción 2: ['Termómetro', 'Jarabe']
Transacción 3: ['Analgésico', 'Termómetro', 'Alcohol']
Transacción 4: ['Jarabe', 'Alcohol', 'Curitas']
Transacción 5: ['Analgésico', 'Jarabe']
Transacción 6: ['Termómetro', 'Curitas']
Transacción 7: ['Analgésico', 'Alcohol']

In [27]:
te_ary = te.fit(tra1).transform(tra1)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Alcohol  Analgésico  Curitas  Jarabe  Termómetro
0    False        True     True    True       False
1    False       False    False    True        True
2     True        True    False   False        True
3     True       False     True    True       False
4    False        True    False    True       False
5    False       False     True   False        True
6     True        True    False   False       False

In [39]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
print(frequent_itemsets.sort_values('support',ascending=True))

    support               itemsets
6  0.285714   (Jarabe, Analgésico)
7  0.285714      (Jarabe, Curitas)
5  0.285714  (Alcohol, Analgésico)
0  0.428571              (Alcohol)
2  0.428571              (Curitas)
4  0.428571           (Termómetro)
3  0.571429               (Jarabe)
1  0.571429           (Analgésico)

In [54]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)
print(rules[['antecedents','consequents','support','confidence','lift']])

    antecedents   consequents   support  confidence      lift
0     (Alcohol)  (Analgésico)  0.285714    0.666667  1.166667
1  (Analgésico)     (Alcohol)  0.285714    0.500000  1.166667
2      (Jarabe)  (Analgésico)  0.285714    0.500000  0.875000
3  (Analgésico)      (Jarabe)  0.285714    0.500000  0.875000
4      (Jarabe)     (Curitas)  0.285714    0.500000  1.166667
5     (Curitas)      (Jarabe)  0.285714    0.666667  1.166667

## Ejercicio 3: Análisis de Ventas en una Librería
Contexto: Eres el gerente de Libros & Más, una librería que quiere optimizar sus recomendaciones y disposición de productos. Tienes datos de 10 transacciones recientes:
Tareas:
1. Preprocesamiento de Datos :Convierte las transacciones a formato one-hot usando TransactionEncoder.
2. Itemsets Frecuentes: Aplica el algoritmo Apriori con min_support=0.3. Identifica los 3 itemsets de tamaño 2 más frecuentes.
3. Generación de Reglas: Encuentra reglas con min_confidence=0.6. Filtra las reglas con lift > 1.2 (asociaciones más fuertes).

Preguntas clave:
Basado en la regla con mayor lift:
¿Qué productos recomendarías empaquetar juntos en una promoción?
¿Qué sección de la tienda podría reorganizarse para aumentar ventas cruzadas?

In [56]:
tra2 = [
['Novela', 'Café', 'Marcadores'],
['Libro de Ciencia', 'Cuaderno', 'Lápiz'],
['Novela', 'Café', 'Lápiz'],
['Libro de Historia', 'Marcadores', 'Post-it'],
['Cuaderno', 'Lápiz', 'Post-it'],
['Novela', 'Libro de Ciencia', 'Café'],
['Libro de Historia', 'Cuaderno'],
['Café', 'Post-it', 'Marcadores'],
['Novela', 'Lápiz'],
['Libro de Ciencia', 'Cuaderno', 'Post-it']
]
for i, t in enumerate(tra2,1):
    print(f"Transacción {i}: {t}")

Transacción 1: ['Novela', 'Café', 'Marcadores']
Transacción 2: ['Libro de Ciencia', 'Cuaderno', 'Lápiz']
Transacción 3: ['Novela', 'Café', 'Lápiz']
Transacción 4: ['Libro de Historia', 'Marcadores', 'Post-it']
Transacción 5: ['Cuaderno', 'Lápiz', 'Post-it']
Transacción 6: ['Novela', 'Libro de Ciencia', 'Café']
Transacción 7: ['Libro de Historia', 'Cuaderno']
Transacción 8: ['Café', 'Post-it', 'Marcadores']
Transacción 9: ['Novela', 'Lápiz']
Transacción 10: ['Libro de Ciencia', 'Cuaderno', 'Post-it']

In [58]:
te_ary= te.fit(tra2).transform(tra2)
df=pd.DataFrame(te_ary,columns=te.columns_)

df

,Café,Cuaderno,Libro de Ciencia,Libro de Historia,Lápiz,Marcadores,Novela,Post-it
0,True,False,False,False,False,True,True,False
1,False,True,True,False,True,False,False,False
2,True,False,False,False,True,False,True,False
3,False,False,False,True,False,True,False,True
4,False,True,False,False,True,False,False,True
5,True,False,True,False,False,False,True,False
6,False,True,False,True,False,False,False,False
7,True,False,False,False,False,True,False,True
8,False,False,False,False,True,False,True,False
9,False,True,True,False,False,False,False,True

In [59]:
frequent_itemsets = apriori(df, min_support=0.3, use_colnames=True)
print(frequent_itemsets.sort_values('support',ascending=True))

   support            itemsets
2      0.3  (Libro de Ciencia)
4      0.3        (Marcadores)
7      0.3      (Novela, Café)
0      0.4              (Café)
3      0.4             (Lápiz)
1      0.4          (Cuaderno)
5      0.4            (Novela)
6      0.4           (Post-it)

In [60]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.6)
print(rules[['antecedents','consequents','support','confidence','lift']].sort_values('lift',ascending=False))

  antecedents consequents  support  confidence   lift
0    (Novela)      (Café)      0.3        0.75  1.875
1      (Café)    (Novela)      0.3        0.75  1.875